.pagination {
    display: flex;
    align-items: center;
}

.pagination button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.pagination button:hover {
    color: blue;
}