.Table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
}

.tools {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}